{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<style>.background-container {
    background-image: url('{% static "images/admin.jpeg" %}');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0.1px);
    z-index: -1;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 9, 9, 0.5);
    z-index: -1;
}  .footer {
            position: fixed; /* Change position to fixed */
            bottom: 0; /* Place at the bottom of the viewport */
            width: 100%; /* Full width */
            height: 100px;
            background-color: #333;
            color: #fff;
            text-align: center;
        }
        .footer h5 {
            color: white;
        }</style>

<div class="background-container"></div> <!-- Container for the blurred background image -->
<div class="overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4 border">
                <form action="{% url 'addcategory_db' %}" method="post" enctype="multipart/form-data" class="login-form">
                    {% csrf_token %}
                    <h2 class="text-center text-white"> Add Categories</h2>
                    <input type="text" name="categoryname" class="form-control mt-3" placeholder="Category Name"><br>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark btn-outline-light mt-3 w-50">SAVE</button>
                    </div><br>
                </form>
            </div>
    <!-- Overlay to create a semi-transparent background -->
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid bg-dark">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h5 class="text-center mt-3">Terms & Conditions | Privacy Policy</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <p class="text-center text-white">Copyright © 2024 Clothing.in. All rights reserved.</p>
            </div>
        </div>
         
    </div>
</footer>
{% endblock %}